---
title: There and Back Again
css: "post"
layout: main_layout
---

<div class="container-fluid">
    <div class="embossed-edges py-4">
        <div class="text-center float-md-left mr-md-4 mb-3 text-center">
            <img src="/assets/covers/{{ cover }}" alt="Cover for {{ post_title }}">
        </div>
        <div>
            <h1 class="text-header">{{ post_title }}</h1>
            <h3 class="text-right">{{ post_date | formatted-date }}</h3>
            {{ content }}
        </div>
    </div>
</div>
